.characters {
	display: flex;
	flex-direction: column;
}

.characters>.characters {
	display: grid;
	grid-gap: 1px;
	margin: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.characters>.characters-controls {
	flex: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
