.character-set {
	display: flex;
	align-items: center;
	background: var(--primary);
	color: var(--text-primary);
	border-radius: 0.1em;
	padding: 0.1em;
}

.character-set>.name {
	flex: auto;
	font-size: 0.8em;
}
