.character-set {
	display: flex;
	align-items: center;
	background: var(--secondary);
	color: var(--text-secondary);
	border-radius: 0.1em;
	padding: 0.1em;
}

.character-set>.name {
	flex: auto;
	font-size: 0.8em;
}

.character-set>.button {
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
}
