.characters {
	display: flex;
	flex-direction: column;
}

.characters>.characters {
	background: white;
	border: solid 1px white;
	flex: auto;
	display: grid;
	grid-gap: 1px;
	justify-items: center;
	margin: auto;
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
}

.characters>.characters-controls {
	flex: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.characters>.characters-controls>.button {
	flex: none;
	width: 2em;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
