.character {
	background: none;
	position: relative;
}

.character canvas {
	width: 100%;
	height: 100%;
}

.character>.pixel {
	flex: auto;
}

.character::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	content: attr(data-character);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	background: black;
	color: white;
	opacity: 0.25;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.character:hover::after,
.character:focus::after {
	opacity: 0;
}
