.collapsible{
	flex: none;
	width: 100%;
	margin:0.25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5em;
	background: var(--primary);
	color: var(--text-primary);
	overflow: hidden;
}
.collapsible>.header{
	flex: none;
	background: var(--secondary);
	color: var(--text-secondary);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 0.5em;
}
.collapsible>.content{
	flex: none;
	padding: 1em;
	width: 100%;
	overflow: auto;
}
.collapsible>.header>.name{
	flex: none;
	white-space: nowrap;
}
.collapsible>.header>.description{
	flex: auto;
	font-style: italic;
	font-size: 0.8em;
	margin: 0.5em;
}

.collapsible>.content .collapsible {
	background: var(--tertiary);
	color: var(--text-tertiary);
}
