.collapsible{
	flex: none;
	width: 100%;
	background: var(--primary);
	color: var(--text-primary);
	overflow: hidden;
	border-top: solid 1px transparent;
}
.collapsible:first-of-type {
	margin-top: 0.25em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-top: 0;
}
.collapsible:last-of-type {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	margin-bottom: 0.25em;
}
.collapsible>summary{
	cursor: pointer;
	background: var(--secondary);
	color: var(--text-secondary);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 0.5em;
}
.collapsible>summary:hover,
.collapsible>summary:focus {
	filter: brightness(1.1);
}
.collapsible>summary::before {
	content: '';
	flex: none;
	display: block;
	width: 2rem;
	height: 2rem;
	margin-inline-end: 0.5rem;
	background-position: center;
	background-size: 69%;
	background-repeat: no-repeat;
	background-image: url('../assets/icon_plus.svg');
}
.collapsible[open]>summary::before {
	background-image: url('../assets/icon_minus.svg');
}

.collapsible>section{
	padding: 1em;
	width: 100%;
	overflow: auto;
}
.collapsible>summary>h1{
	flex: none;
	white-space: nowrap;
}
.collapsible>summary>h2{
	flex: auto;
	font-style: italic;
	font-size: 0.8em;
	margin: 0.5em;
}

.collapsible>section .collapsible {
	background: var(--tertiary);
	color: var(--text-tertiary);
}
