.toggle {
	flex: none;
	cursor: pointer;
	background: var(--accent);
	color: transparent;
	border: solid 2px var(--text-accent);
	border-radius: 50%;
	width: 2em;
	height: 2em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0.25em;
	position: relative;
}

.toggle:hover {
	border-color: var(--accent);
}

.toggle:focus {
	background: var(--primary);
	border-color: var(--text-primary);
	outline: transparent;
}

.toggle::after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 69%;
	background-repeat: no-repeat;
}

.toggle.on::after {
	background-image: url('../assets/icon_minus.svg');
}

.toggle.off::after {
	background-image: url('../assets/icon_plus.svg');
}
